.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom:50px;
}


.rating {
  display: inline-block;
  position: relative;
  height: 20px;
  font-size: 25px;
}

.rating label {
  position: absolute;
  top: 1px;
  left: 64px;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: yellow;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px yellow;
}

.comments{
  width: 1000px;
  margin: 100px auto;
  padding: 0px 10px 0px 50px;
  border-left: 2px solid #99ADB7;
}
.comments p{
  padding: 20px;
  background: #ECEFF1;
  color: #4A5256;
  font-family: tahoma;
  line-height: 1.7;
  position: relative;
}
.comments p > span {
    display: block;
    padding: 5px 5px 10px 5px;
    color: #7f8c8d;
    font-style: italic;
    font-size: 13px;
}

.comments p > button{
  background: #2ecc71;
  color: #fff;
  width: 100px;
  padding: 10px;
  border-radius: 2px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}
.comments p:before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2ecc71;
  top: -9px;
  left: -61px;
  position: absolute;
}
 .comments p:after{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #ECEFF1 #ECEFF1 transparent       transparent ;
  border-width: 15px;
  position: absolute;
  top: 0px;
  left: -29px;
}


.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}